body {
  margin: 0;
}

.form-block {
  margin: 0 auto;
  display: flex;
  width: 1020px;
  height: 648px;
  background-color: #f06c64;
}

.form-block__caption {}

.form-block__motto {}

.form-block__contacts {}

.form-block__main-form {}

.main-footer {
  margin: 0 auto;
  position: relative;
  width: 1020px;
  height: 82px;
  background-color: #2d303a;
}

.main-footer::after {
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 1020px;
  height: 6px;
  background-color: #ea676b;
}
