body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.portfolio-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1020px;
  height: 150px;
  background-color: #2d303a;
}

.portfolio-header__caption {
  margin-left: 40px;
  margin-top: 70px;
  width: 121px;
  height: 23px;
  color: #666d89;
  font-family: "Lato Black", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 17.86px;
  letter-spacing: -0.23px;
}

.portfolio-header__motto {
  margin-left: 40px;
  margin-top: 1px;
  width: 730px;
  height: 17px;
  color: #767e9e;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: -0.22px;
}

.portfolio-block {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1020px;
  background-color: #2d303a;
}

.portfolio-nav {
  margin-top: 5px;
  margin-left: 41px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 288px;
  height: 22px;
}

.portfolio-nav__item {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #666d89;
  border-radius: 5px;
}

.portfolio-nav li:nth-child(1) {
  width: 27px;
}

.portfolio-nav li:nth-child(2) {
  width: 77px;
}

.portfolio-nav li:nth-child(3) {
  width: 91px;
}

.portfolio-nav li:nth-child(4) {
  width: 56px;
}

.portfolio-nav__link {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 199%;
  color: #767e9e;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
}

.portfolio-nav__link--active {
  font-size: 11px;
  font-weight: bolder;
  color: #dedede;
}

.portfolio-nav__item--active {
  border: 1px solid #c5c5c5;
}

.portfolio-nav__link:hover {
  color: #000000;
}

.portfolio-nav__item:hover {
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
}

.portfolio-nav__item:active {
  box-shadow: 0 0 10px #9ecaed;
}

.gallery {
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 47px;
  width: 940px;
  height: 621px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.about-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1020px;
  height: 735px;
  background-color: #f2f2f2;
}

.about-block::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 1020px;
  height: 6px;
  background-color: #323746;
}

.about-block::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}

.about-block__caption {
  margin-top: 75px;
  margin-left: 40px;
  width: 140px;
  height: 23px;
  color: #666d89;
  font-family: "Lato Black", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 17.86px;
}

.about-block__motto {
  margin-top: -4px;
  margin-left: 40px;
  width: 940px;
  height: 47px;
  color: #767e9e;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.21px;
}

.personal-info-section {
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  width: 941px;
  height: 443px;
}

.personal-info-item {
  width: 301px;
  height: 443px;
}

.personal-info-item:nth-child(2) {
  margin-left: 19px;
}

.personal-info-item:nth-child(3) {
  margin-left: 21px;
}

.personal-info-item__caption {
  margin-top: 14px;
  width: 100%;
  height: 15px;
  color: #666d89;
  font-family: "Lato Black", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.86px;
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.personal-info-item__motto {
  margin-top: -5px;
  width: 298px;
  height: 32px;
  color: #767e9e;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  line-height: 21.56px;
  letter-spacing: -0.1px;
}

.social {
  margin-top: 34px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 154px;
  height: 32px;
}

.social-item {
  width: 31px;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social-item:nth-child(1) {
  background: url("assets/images/social_facebook.png") no-repeat;
  background-size: 8px 14px;
  background-position: 47.5% 45%;
}

.social-item:nth-child(2) {
  background: url("assets/images/social_google+.png") no-repeat;
  background-size: 14px 14px;
  background-position: 47% 45%;
}

.social-item:nth-child(3) {
  background: url("assets/images/social_twitter.png") no-repeat;
  background-size: 14px 12px;
  background-position: 46% 45%;
}

.social-item:nth-child(4) {
  background: url("assets/images/social_linkedin.png") no-repeat;
  background-size: 14px 14px;
  background-position: 47% 45%;
}

.social-item:hover {
  background-color: #fff;
  border: px solid #000000;
}

.social-item:active {
  box-shadow: 0 0 10px #9ecaed;
}

.social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
