@media (min-width: 768px) AND (max-width: 1019px) {
	body {
		overflow-x: hidden;
	}
	.main-header {
		width: 768px;
		height: 89px;
	}

	.burger-menu__button {
		display: none;
	}

	.mobile-nav {
		display: none;
	}
	.mobile-nav__item {
		display: none;
	}
	.mobile-nav__link {
		display: none;
	}

	.mobile-nav__link--active {
		display: none;
	}

	.main-header__logo {
		margin-left: 40px;
		margin-top: 35px;
	}

	.main-nav {
		margin-top: 41px;
		margin-right: 41px;
		padding: 0;
		display: flex;
		justify-content: space-between;
		width: 373px;
	}

	.main-nav :not(:last-child) ::after {
		color: #ffffff;
		font-size: 16px;
	}

	.main-block {
		width: 768px;
	}

	.slider {
		width: 768px;
		height: 452px;
	}

	.slider-image--vertical {
		margin-top: 44px;
		margin-left: 84px;
		width: 182px;
		height: 389px;
	}

	.slider-image--horizontal {
		margin-top: 137px;
		margin-left: 54px;
		width: 364px;
		height: 201px;
	}

	.slider__screen-off--vertical,
	.slider__screen-off--horizontal {
		position: absolute;
		z-index: 0;
		background-color: #000000;
	}

	.slider__screen-off--vertical {
		top: 94px;
		left: 94px;
		width: 142px;
		height: 251px;
	}

	.slider__screen-off--horizontal {
		top: 148px;
		right: 152px;
		width: 251px;
		height: 142px;
	}

	.slider-image__wrapper--second {
		position: relative;
	}

	.slider-image__wrapper--second img {
		position: absolute;
		left: -70px;
		top: -30px;
		height: 100%;
		width: 100%;
	}

	.slider-button {
		top: 48.5%;
		width: 16px;
		height: 27px;
		background-color: transparent;
		border: none;
		opacity: 0.25;
	}

	.slider-button--left {
		left: 30px;
	}

	.slider-button--right {
		right: 26px;
	}

	.services {
		width: 768px;
		height: 672px;
		background-color: #f2f2f2;
		border-bottom: 6px solid #ffffff;
	}

	.services__caption {
		margin-top: 44px;
		margin-left: 41px;
		letter-spacing: -0.2px;
	}

	.services__description {
		margin-top: 6px;
		margin-left: 40px;
		width: 670px;
	}

	.services-list {
		margin-top: 61px;
		margin-left: 41px;
		width: 653px;
		height: 429px;
	}

	.services-card {
		flex-wrap: wrap;
		height: 86px;
	}

	.services-list:nth-child(3) > :nth-child(3) {
		background-size: 60px;
		background-position: -2px 2px;
	}

	.services-list:nth-child(3) > :nth-child(6) {
		background-size: 60px;
		background-position: -1px 2px;
	}

	.services-card__text-wrapper {
		width: 220px;
	}

	.services-card__caption {
		margin-top: 1px;
	}

	.portfolio-header {
		width: 768px;
		height: 170px;
		background-color: #2d303a;
	}

	.portfolio-header__caption {
		margin-left: 40px;
		margin-top: 70px;
	}

	.portfolio-header__motto {
		margin-top: 2px;
		width: 638px;
		line-height: 27px;
		text-align: justify;
		letter-spacing: -0.2px;
		overflow-wrap: break-word;
	}

	.portfolio-block {
		width: 768px;
		height: 926px;
	}

	.portfolio-nav {
		margin-top: 15px;
		margin-left: 41px;
	}

	.portfolio-nav li:nth-child(1) {
		width: 27px;
	}

	.portfolio-nav li:nth-child(2) {
		width: 77px;
	}

	.portfolio-nav li:nth-child(3) {
		width: 91px;
	}

	.portfolio-nav li:nth-child(4) {
		width: 55px;
	}

	.gallery {
		padding: 5px;
		margin: 0 auto;
		margin-top: 8px;
		margin-bottom: 40px;
		width: 688.83px;
		height: 813.8px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.gallery img {
		width: 216.19px;
		height: 183.76px;
	}

	.about-block {
		width: 768px;
		height: 663px;
	}

	.about-block__caption {
		margin-top: 62px;
	}

	.about-block__motto {
		margin-top: 1px;
		margin-left: 40px;
		width: 670px;
		letter-spacing: -0.06px;
	}

	.personal-info-section {
		margin-top: 64px;
		margin-left: 42px;
		width: 688px;
		height: 542px;
	}

	.personal-info-item {
		width: 218.94px;
		height: 443px;
	}

	.personal-info-item img {
		width: 218.94px;
		height: 218.94px;
	}

	.personal-info-item:nth-child(2) {
		margin-left: 15px;
	}

	.personal-info-item:nth-child(3) {
		margin-left: 15px;
	}

	.personal-info-item__caption {
		margin-top: 9px;
		line-height: 17.86px;
		letter-spacing: -0.25px;
	}

	.personal-info-item__motto {
		margin-top: -12px;
		width: 218px;
		height: 72px;
		letter-spacing: -0.1px;
	}

	.social {
		margin-top: -9px;
	}

	.communication-block {
		width: 768px;
		height: 625px;
	}

	.communication-block__caption {
		margin-top: 63px;
		margin-left: 42px;
		letter-spacing: 0.12px;
	}

	.communication-block__motto {
		margin-top: 8px;
		margin-left: 42px;
		width: 668px;
		height: 96px;
		letter-spacing: -0.13px;
	}

	.communication-block__about-us {
		margin-top: 6px;
		width: 768px;
		height: 631px;
	}

	.communication-block__main-form {
		margin-left: 39px;
		width: 442px;
		height: 368px;
	}

	.communication-block__input {
		width: auto;
		height: 36px;
	}

	.communication-block__text-area {
		padding-top: 4px;
		height: 160px;
	}

	.communication-block__input,
	.communication-block__text-area {
		margin-bottom: 12px;
		padding-left: 9px;
	}

	.communication-block__contacts {
		padding-left: 29px;
		width: 221px;
		height: auto;
	}

	.communication-block__contacts-caption {
		margin-top: -1px;
		width: 180px;
		height: 14px;
		letter-spacing: -0.15px;
	}

	.communication-block__contacts-motto {
		display: block;
		margin-top: -9px;
		margin-bottom: 13px;
		width: 221px;
		letter-spacing: -0.1px;
	}

	.communication-block__contacts-data {
		margin-left: 23px;
		margin-bottom: 8px;
	}

	.main-footer {
		justify-content: center;
		-webkit-box-align: center;
		width: 768px;
		height: 76px;
	}

	.copyright-sign {
		display: none;
	}

	.social-footer {
		margin-top: 17px;
		margin-left: 37px;
		width: 153px;
		height: 32px;
	}
}
